################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/01_BasicSyntaxExercises/01_DebitCardNumber/obj
