################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/01_BasicSyntaxExercises/01_DebitCardNumber/obj
/01_BasicSyntaxExercises/02_RectangleArea/obj
/01_BasicSyntaxExercises/03_MilesToKilometers/obj
/01_BasicSyntaxExercises/04_BeverageLabels/obj
/01_BasicSyntaxExercises/05_CharacterStars/obj
/01_BasicSyntaxExercises/.vs/BasicSyntaxExercises/v15/Server/sqlite3
